//
   Created by aman1 on 21/03/2017.

extends layout

block content
    #banner.page-header
        .row
            .col-lg-6
                h3= pageHeader.title

    .row
        .col-xs-12.col-sm-8
            .error= message
            .row.list-group
                each book in books
                    .col-xs-12.list-group-item
                        p Rated: #{book.rating}
                        h4
                            a(href="/authors/#{author._id}/books/#{book._id}/reviews")= book.name
                        p Description: #{book.description}
