//Created by aman1 on 06/03/2017.

extends layout
include includes/sharedFunctions


block content
  #banner.page-header
  .row
      .col-lg-12
          h3= pageHeader.title
          .row
            .col-xs-12.col-md-9
              .row
                .col-xs-12.col-sm-12
                  .panel.panel-primary
                    .panel-body
                        a.btn.btn-default.pull-right(href="/#{bookid}/delete") Delete Book
                        p Rating:  &nbsp;
                            span.rating
                                +outputRating(rating)
                        .row
                        p Description: #{description}
              .row
               .col-xs-12
                .panel.panel-primary.review-panel
                    .panel-heading
                        h2.panel-title Reader reviews
                        #{loggedIn}
                         if loggedIn
                             a.btn.btn-default.pull-right(href="/books/#{bookid}/reviews/new") Add Review
                         else
                             a.btn.btn-default.pull-right(href="/login") Log-in
                    .panel-body.review-container
                        #{message}
                            if message
                                small #{message}
                            else
                                each review in reviews
                                     .row
                                         .review
                                             .well.well-sm.review-header
                                                 if (loggedIn && (scrName == review.screenName))
                                                     a.btn.btn-default.pull-right(href="/books/#{bookid}/reviews/#{review._id}") Delete Review
                                                 span.rating
                                                    +outputRating(review.rating)
                                                 .row
                                                 span.reviewAuthor #{review.screenName} on the&nbsp;
                                                 small.createdOn
                                                    +dateFormatter(review.createdOn)
                                             .col-xs-12
                                                 p !{(review.reviewText).replace(/\n/g, '<br/>')}