//Created by aman1 on 06/03/2017.

extends layout
include includes/sharedFunctions

block content
  .row.page-header: .col-lg-12
    h3= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
       .col-xs-12.col-sm-6
        p Rating #{rating}
        p Description #{description}
        .row
         .col-xs-12
          .panel.panel-primary.review-panel
           .panel-heading
            a.btn.btn-default.pull-right(href="/authors/#{author}/books/#{book}/reviews/new") Add Review
            p.panel-title Reader reviews
             .panel-body.review-container
              each review in reviews
                 .row
                 .col-xs-12
                       .review
                            .row
                                span.reviewAuthor #{review.author}
                                    +dateFormatter(review.createdOn)
                            .row
                                span.rating= review.rating
                                p #{(review.reviewText)}
